body{
    background: #E9E9E9;

}
.contenedor{
    width: 500px;
    height: 500px;
    background: #fff;
    padding: 10px;
    border: 10px solid #2c3350;
    margin: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elemento{
    /*Equivalencia
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350;    
    */
    flex: 1 1 350px;
    color: #fff;
    margin: 5px;
    background: #E67E22;
    text-align: center;
    height: 50px;

}

.elemento1{
    order: 2;
}

.elemento2{
    order: 3;
    align-self: flex-start;
}
.elemento3{
    order: 1;

}
.elemento4{
    order: 4;
    
}